# NG Monitoring Server Configuration.

# Server address.
address = "0.0.0.0:12020"

advertise-address = "0.0.0.0:12020"

[log]
# Log path
path = "log"

# Log level: DEBUG, INFO, WARN, ERROR
level = "INFO"

[pd]
# Addresses of PD instances within the TiDB cluster. Multiple addresses are separated by commas, e.g. ["10.0.0.1:2379","10.0.0.2:2379"]
endpoints = ["0.0.0.0:2379"]

[storage]
# Storage path of ng monitoring server
path = "data"
docdb-backend = "sqlite"

[security]
ca-path = ""
cert-path = ""
key-path = ""

[tsdb]
# Data with timestamps outside the retentionPeriod is automatically deleted
# The following optional suffixes are supported: h (hour), d (day), w (week), y (year).
# If suffix isn't set, then the duration is counted in months.
retention-period = "1"
# `search-max-unique-timeseries` limits the number of unique time series a single query can find and process.
# VictoriaMetrics(tsdb) keeps in memory some metainformation about the time series located by each query
# and spends some CPU time for processing the found time series. This means that the maximum memory usage
# and CPU usage a single query can use is proportional to `search-max-unique-timeseries`.
search-max-unique-timeseries = 300000

[docdb]
lsm-only = false
